## OS and IDEs
.DS_Store
.settings
settings.xml
.vscode
.project
WEB-INF

# Dependencies
coldbox/*
testbox
modules/*

# Engines
.engine/**
.env

# NPM Dependencies
**/node_modules/*

## Builds (DocBox-specific)
*.iml
tests/output/*
tests/apidocs/*
tests/tmp/
.artifacts/*
.tmp/*
changelog-latest.md
tests/FunkyComponent.cfc